```javascript

const {ServicesRegistry} = require('@pigalle/registries.services')
const {ServiceEntity} = require('@pigalle/entities.service')

const registry = ServiceRegistry.factory()

const authenticationService = ServiceEntity.factory()
const helloService = ServiceEntity.factory()

registry.add(authenticationService)
registry.add(helloService)

```
